/*Stylesheet*/
* {
  box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
  background-color: #f9f9f9;
  min-height: 100%;
	}
body {
  font-family: 'Raleway';
  font-size:14px;
  color:#222;
  margin:0px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.container {
  width:1280px;
  max-width:100%;
  margin:auto;}
ul#players {
  padding-left:0px;
}
ul#players li {
  width: 32%;
  list-style-type: none;
  position: relative;
  padding:10px;
  border-bottom: 1px solid #eee;
  background: #fff;
  float: left;
  margin-bottom: 30px;
  margin-right: 1%;
  box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.25);
  text-align:center;
}
ul#players li:nth-child(3n) {
    margin-right: 0px;
}
.clear {
  display:block;
  clear:both;
}

footer {
  background:black;
  color:white;
  padding:5vh 0vh;
  text-align:center;
}
#intro {
  position:relative;
  height:40vh;
  width:100%;
  display:block;
  background-image: url('../img/hbg.jpg');
}
#intro h1 {
  position:absolute;
  top:50%;
  left:50%;
  z-index:2;
  color:#fff;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
#intro::after {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

tr {
  text-align: left;
}
body .container {
  padding:100px 0px;
  padding-top:20px;
}
span {color: #1cbc9a;}
#players a {
  color:#222;
  text-decoration:none;
}
#players a:hover {
  text-decoration:underline;
}
#gif_wrapper {
  padding-top:80px;
  text-align:center;
}
#stop img {
  max-width:50%;
}
img {
  width:auto;
  height:auto;
max-width: none;}
